<%- include('../partials/head') %>
    <div class="container mt-4">
        <div class="card mx-auto shadow-lg" style="max-width: 800px;">
            <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="card-img-top" alt="homework photo" style="max-height: 400px; object-fit: cover;">
            <div class="card-body">
                <h4 class="card-title text-primary fw-bold">
                    <%= homework.courseCode %>
                </h4>


                <p class="card-text">Due Date: <%= new Date(homework.dueDate).toLocaleDateString('en-GB') %>
                </p>
                <p class="card-text">Additional notes: <%= homework.notes %>
                </p>

                <p class="card-text">Is it done?:
                    <%= homework.completed ? "✅ Completed" : "❌" %>
                </p>
                <p class="text-muted">Listed by: <%= owner.username || 'Unknown' %>
                </p>







                <div class="d-flex gap-2 mb-3">
                    <a href="/users/<%= user._id %>/homeworks" class="btn btn-outline-primary">Back to homeworks</a>
                    <% if (homework.user._id.equals(user._id)) { %>
                        <form action="/users/<%= user._id %>/homeworks/<%= homework._id %>?_method=DELETE" method="POST"
                            class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a href="/users/<%= user._id %>/homeworks/<%= homework._id %>/edit"
                            class="btn btn-warning">Edit</a>
                        <% } %>
                </div>


            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>